@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

body {
  background-color: #97B1A6;
  font-family: Roboto, monospace;
}

#inputname {
  margin: 10px;
  
}
.survey {
  background-color: #698996;
  width: 50%;
  padding: 3px 5px 5px 7px;
  border-radius: 8px;
  float: left;
  margin: 10px;
}

.button {
  margin: 20px 20px 20px 10px;
  padding: 3px;
  border-radius: 4px;
  background-color: #EBBAB9;
  width: 50%;
}

.hidden {
  /* display: none; */
  width: 45%;
  float: right;
}